.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 0 1rem;
}

.aboutSection h2 {
  display: none;
  background-color: #0f172a;
  color: #e2e8f0;
  font-size: 1rem;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
  text-transform: uppercase;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sectionContent p {
  color: #8594a9;
  line-height: 1.5rem;
  font-weight: 500;
}

.sectionContent p span {
  color: #e2e8f0;
  font-weight: 500;
}


/* Media Queries */
@media screen and (width < 1024px) {
  .aboutSection {
    padding: 0;
  }
  .aboutSection h2 {
    display: block;
  }
}