.card {
  display: flex;
  padding: 1rem 1.5rem;
  border-radius: .3rem;
  gap: 2rem;
}

.card:hover {
  transition: all ease .3s;
  background-color: rgba(255, 255, 255, .1);
}

.cardLeftSide {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
}

.cardLeftSide h3 {
  font-size: .8rem;
  color: #8594a9;
  opacity: .7;
}

.cardRightSide {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cardRightSide h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #e2e8f0;
}

.cardRightSide p {
  font-size: .9rem;
  color: #8594a9;
}

.techList {
  margin-top: .5rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
}

.techList > * {
  background-color: rgba(255, 255, 255, .1);
  color: #e2e8f0;
  padding: .4rem .5rem;
  border-radius: 1rem;
  font-size: .7rem;
  font-weight: 500;
}


/* Media Queries */
@media screen and (width < 1024px) {
  .card {
    padding: 0;
  }

  .card:hover {
    background-color: rgba(255, 255, 255, 0);
  }

  .card:hover {
    background-color: none;
  }

  .cardLeftSide {
    justify-content: start;
  }

  .cardRightSide {
    gap: .7rem;
  }

  .techList {
    margin-top: .3rem;
    gap: .5rem;
  }
}

@media screen and (width < 640px) {
  .card {
    flex-direction: column;
    gap: .5rem;
  }
}