/* Card Experience */
.cardExperience {
  display: flex;
  padding: 1rem 1rem;
  border-radius: .3rem;
  gap: 1rem;
}

.cardExperience:hover {
  transition: all ease .3s;
  background-color: rgba(255, 255, 255, .1);
}

.cardExperienceLeftSide {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
}

.cardExperienceLeftSide h3 {
  font-size: .8rem;
  color: #8594a9;
  opacity: .7;
}

.cardExperienceRightSide {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cardExperienceRightSide h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #e2e8f0;
}

.cardExperienceRightSide p {
  font-size: .9rem;
  color: #8594a9;
}


/* Card Projects */
.cardProjects {
  display: flex;
  padding: 1rem 1rem;
  border-radius: .3rem;
  gap: 1rem;
}

.cardProjects:hover {
  transition: all ease .3s;
  background-color: rgba(255, 255, 255, .1);
}

.cardProjectsLeftSide {
  flex-basis: 25%;
  display: flex;
  position: relative;
}

.cardProjectsLeftSide img {
  position: absolute;
  width: 100%;
  border-radius: .3rem;
  border: 2px solid rgba(133,148,169, .3);
}

.cardProjectsRightSide {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cardProjectsRightSide h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #e2e8f0;
}

.cardProjectsRightSide p {
  font-size: .9rem;
  color: #8594a9;
}

.techList {
  margin-top: .5rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: .5rem;
}

.techList > * {
  background-color: rgba(255, 255, 255, .1);
  color: #e2e8f0;
  padding: .4rem .5rem;
  border-radius: 1rem;
  font-size: .7rem;
  font-weight: 500;
}


/* Media Queries */
@media screen and (width < 1024px) {
  .cardExperience, .cardProjects {
    padding: 0;
  }

  .cardExperience:hover, .cardProjects:hover {
    background-color: rgba(255, 255, 255, 0);
  }

  .cardExperience:hover, .cardProjects:hover {
    background-color: none;
  }

  .cardExperienceLeftSide {
    justify-content: start;
  }

  .cardExperienceRightSide {
    gap: .7rem;
  }

  .techList {
    margin-top: .3rem;
  }
}

@media screen and (width < 640px) {
  .cardExperience {
    flex-direction: column;
    gap: .5rem;
  }
  
  .cardProjects {
    flex-direction: column-reverse;
  }

  .cardProjects img {
    position: inherit;
    width: 60%;
  }
}