.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.navList li {
  font-size: .8rem;
  font-weight: 600;
}

.navLink {
  color: #e2e8f0;
  opacity: .7;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
}

.navLink hr {
  width: 30px;
  height: 0;
}

.navLink:hover {
  opacity: 1;
  transition: all ease .3s;
}

.navLink:hover hr {
  width: 60px;
  transition: all ease .3s;
}

@media screen and (width <= 1024px) {
  .navbar {
    display: none;
  }
}