.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.navList li {
  font-size: .8rem;
  font-weight: 600;
  color: rgba(133,148,169, .7);
}

.navLink {
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  text-transform: uppercase;
}

.navLink hr {
  color: #8594a9;
  width: 30px;
  height: 0;
  opacity: .7;
  transition: all .3s ease 0s;
}

.navLink:hover {
  color: #e2e8f0;
}

.navLink:hover hr {
  color: #e2e8f0;
  width: 60px;
}

.active {
  color: #e2e8f0;
}

.active hr {
  color: #e2e8f0;
  width: 60px;
}

@media screen and (width <= 1024px) {
  .navbar {
    display: none;
  }
}