.App {
  display: flex;
  flex-direction: row;
}

/* App Header */
.AppHeader {
  flex-basis: 50%;
  height: 100vh;
  padding: 5rem 0;
  position: sticky;
  top: 0;
}

.AppHeaderContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Left Side App */
.leftSideApp {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.AppMain {
  display: flex;
  padding: 5rem 0;
  flex-direction: column;
  gap: 10rem;
}

/* App Footer */
.AppFooter {
  padding: 5rem 0;
}

.AppFooter small {
  color: #8594a9;
  padding: 0 0 0 1rem;
  font-size: .8rem;
}


/* Media Queries */
@media screen and (640px < width <= 1024px) {
  .App {
    flex-direction: column;
  }

  .AppHeader {
    flex-basis: 100%;
    padding: 5rem 0 3rem 0;
    position: inherit;
  }

  .AppMain {
    flex-basis: 100%;
    padding: 3rem 0;
    gap: 8rem;
  }

  .AppFooter {
    padding: 3rem 0;
  }
  
  .AppFooter small {
    padding: 0 0 0 0rem;
  }
}

@media screen and (width <= 640px) {
  .App {
    flex-direction: column;
  }

  .AppHeader {
    padding: 3rem 0;
    position: inherit;
  }

  .AppMain {
    padding: 3rem 0;
    gap: 4rem;
  }

  .AppFooter {
    padding: 3rem 0;
  }
  
  .AppFooter small {
    padding: 0 0 0 0rem;
  }
}